html,
body {
    height: 100%;
    border-radius: 13px;
}

body {
    -webkit-app-region: drag;
    color: #99d9ea;
    overflow: hidden;
    margin: 0px; padding: 0px;

}

.pointer { cursor: pointer; }

#content-inner {

}