html,
body {
    height: 100%;
    border-radius: 13px;
}

body {
    -webkit-app-region: drag;
    color: #99d9ea;
    overflow: hidden;
    margin: 0px; padding: 0px;

}

.pointer { cursor: pointer; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#content-inner {

}
