#buttons-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #282828;
    height: 100%;
    width: 100%;
    font-family: Arial;
    font-size: 12px;
    color: #bbbbbb;
}

#buttons {
    width: 100%;
    height: 35px;
    background: #252525;
}

#buttons-inner-left {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 10px;
    width: 70px;
}

#buttons-inner-middle {
    width: 265px;
}

#buttons-inner-right {

}

#play-button {
    margin: 0px 2px;
    border: 1px solid #1f1f1f;
    padding: 5px 10px;
    -webkit-app-region: no-drag
}
#mute-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    padding: 0px 5px 0px 5px;
    -webkit-app-region: no-drag
}

#action-button {
    margin: 0px 2px;
    border: 1px solid #1f1f1f;
    padding: 5px 10px;
    -webkit-app-region: no-drag
}

#volume-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    width: 30px;
}

#buttons-inner-right {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
}

#download-button {
    -webkit-app-region: no-drag
}


#volume-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    padding: 0px 10px;
    -webkit-app-region: no-drag;
}

#valume-input::-webkit-slider-thumb {
    background: gray;
}

#valume-input::-moz-range-thumb {
    background: gray;
}

#valume-input::-ms-thumb {
    background: gray;
}


#volume-slider {
    width: 100%;
}



input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;

  height: 3px;
  border-radius: 5px;
  background-image: linear-gradient(#f5ff00, #f0ff00);
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #20c6b9;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #20c6b9;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #20c6b9;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #07aecd;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #07aecd;
}

input[type="range"]::-ms-thumb:hover {
  background: #07aecd;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
