#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: #ffde00;
    font-family: Arial;
    position : relative;
    overflow: hidden;
}

#header-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    position:absolute;
}

#header-title {
    font-size: 13px;
    margin: 0px 0px 5px 0px;
    -webkit-app-region: no-drag;
    text-shadow: 1px 1px 0px #000;
    font-family: verdana,arial,tahoma;
    transition: 0.3s font-size;

}
#header-description {
    font-size: 19px;
    -webkit-app-region: no-drag;
    text-shadow: 1px 1px 0px #000;
    font-family: verdana,arial,tahoma;
    transition: 0.3s font-size;

}

.header-font-hide {
    font-size: 0px !important;
}

.content-date-title {
    background: #9a1c63;

}

#canvas {
    height: 100%;
    width: 100%;
}
