.content-date-title {
    background: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    margin: 0px 0px 3px 0px;
}

.item-line {
    display: flex;
    flex-direction: row;
    transition: opacity 1s ease-out;
    opacity: 1;
    height: auto;
}

.item-line-hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.line-time {
    padding: 2px 3px 2px 15px;
}

.line-title {
    padding: 2px 2px;
}
