html,
body {
    height: 100%;
    border-radius: 13px;
}

body {
    -webkit-app-region: drag;
    color: #99d9ea;
    overflow: hidden;
    margin: 0px; padding: 0px;

}

.pointer { cursor: pointer; }

#content-inner {

}


#page {
    height: calc(100vh - 6px);
    width: calc(100vw - 6px);
    border: 2px #555555 solid;
    border-radius: 13px;
    background: #2b2b2b;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 26px;
    width: 100%;
    border-radius: 13px 13px 0px 0px;
    background: #313335;
    border-bottom: 1px #323232 solid;
}

#burger {
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ukrainian-flag {
    height: 23px;
}

#window-buttons {
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 0px 0px;
    -webkit-app-region: no-drag
}

#close-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    /*
    border-radius: 50%;
    background: #d62929;*/
}

#close-button img {
   /* padding-right: 1px*/
}

#window-title {
    width: 324px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: verdana,arial,tahoma;
    font-size: 12px;
    color: #bbbbbb;

}

#content {
    width: 100%;
    height: 481px;
    overflow: hidden;
}

#content-inner {
    width: 390px;
    height: 480px;
    overflow: auto;
    -webkit-app-region: no-drag;
    font-size: 13px;
    color: #bbbbbb;
    font-family: Arial;
    padding: 0px 0px;
}

/* width */
#content-inner::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#content-inner::-webkit-scrollbar-track {
    background: #343434;
}

/* Handle */
#content-inner::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
#content-inner::-webkit-scrollbar-thumb:hover {
    background: #2c2c2c;
}



.line-time::selection, .line-title::selection {
    color: #2c2c2c;
    background-color: #888;
}


.content-line {
    display: flex;
    flex-direction: row;
    padding: 2px;
}
.line-time {
    color: #8d8d8d;
}
.line-title {
    margin: 0px 0px 0px 10px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    background: #28292b;
    font-size: 12px;
    color: #bbbbbb;
    border-radius: 0px 0px 12px 12px;
    font-family: Arial;
    font-size: 11px;
}
#footer-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
}

.footer-button {
    margin-right: 5px;
    margin-right: 5px;
    padding: 5px 11px;
    background: #384044;
    border-radius: 3px;
}


#footer-right {
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}






#current_track {
    color: #fff200;
    text-align: center;
    font-size: 30px;
}

#current-track-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    /*border-top: 1px solid #99d9ea;*/
}

#playback-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #99d9ea;

}

#play-list-box {
    height: 420px;
    overflow: auto;
    -webkit-app-region: no-drag;
    background: #2d323d;
    font-size: 12px;
}

#footer-box {
    height: 120px;
    overflow: auto;
}


#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: #ffde00;
    font-family: Arial;
    position : relative;
}
#header-title {
    font-size: 13px;
    margin: 0px 0px 5px 0px;
    -webkit-app-region: no-drag;
    text-shadow: 1px 1px 0px #000;
    font-family: verdana,arial,tahoma;
    transition: 0.3s font-size;
}
#header-description {
    font-size: 19px;
    -webkit-app-region: no-drag;
    text-shadow: 1px 1px 0px #000;
    font-family: verdana,arial,tahoma;
    transition: 0.3s font-size;
}

.header-font-hide {
    font-size: 0px !important;
}

.content-date-title {
    background: #9a1c63;

}


#buttons-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #282828;
    height: 100%;
    width: 100%;
    font-family: Arial;
    font-size: 12px;
    color: #bbbbbb;
}

#buttons {
    width: 100%;
    height: 35px;
    background: #252525;
}

#buttons-inner-left {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 10px;
    width: 70px;
}

#buttons-inner-middle {
    width: 265px;
}

#buttons-inner-right {

}

#play-button {
    margin: 0px 2px;
    border: 1px solid #1f1f1f;
    padding: 5px 10px;
    -webkit-app-region: no-drag
}
#mute-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    padding: 0px 5px 0px 5px;
    -webkit-app-region: no-drag
}

#action-button {
    margin: 0px 2px;
    border: 1px solid #1f1f1f;
    padding: 5px 10px;
    -webkit-app-region: no-drag
}

#volume-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    width: 30px;
}

#buttons-inner-right {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
}

#download-button {
    -webkit-app-region: no-drag
}


#volume-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    padding: 0px 10px;
    -webkit-app-region: no-drag;
}

#valume-input::-webkit-slider-thumb {
    background: gray;
}

#valume-input::-moz-range-thumb {
    background: gray;
}

#valume-input::-ms-thumb {
    background: gray;
}


#volume-slider {
    width: 100%;
}



input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;

  height: 3px;
  border-radius: 5px;
  background-image: linear-gradient(#f5ff00, #f0ff00);
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #20c6b9;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #20c6b9;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #20c6b9;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #07aecd;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #07aecd;
}

input[type="range"]::-ms-thumb:hover {
  background: #07aecd;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}


.content-date-title {
    background: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
    margin: 0px 0px 3px 0px;
}

.item-line {
    display: flex;
    flex-direction: row;
    transition: opacity 1s ease-out;
    opacity: 1;
    height: auto;
}

.item-line-hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.line-time {
    padding: 2px 3px 2px 15px;
}

.line-title {
    padding: 2px 2px;
}


#content-inner {
    opacity: 1;
    transition: opacity 0.4s, important 0.3s;
}

#weather-inner {
    opacity: 1;
    height: auto;
    transition: opacity 0.4s, important 0.3s;
}

#config-inner {
    opacity: 1;
    height: auto;
    transition: opacity 0.4s, important 0.3s;
}

.hidden-content {
    opacity: 0 !important;
    height: 0px !important;
}

.footer-button {
    -webkit-app-region: no-drag;
    cursor: pointer;
}


