#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: #ffde00;
    font-family: Arial;
    position : relative;
}
#header-title {
    font-size: 13px;
    margin: 0px 0px 5px 0px;
    -webkit-app-region: no-drag;
    text-shadow: 1px 1px 0px #000;
    font-family: verdana,arial,tahoma;
    transition: 0.3s font-size;
}
#header-description {
    font-size: 19px;
    -webkit-app-region: no-drag;
    text-shadow: 1px 1px 0px #000;
    font-family: verdana,arial,tahoma;
    transition: 0.3s font-size;
}

#download-button {
    position: absolute;
    bottom: 6px;
    right: 11px;
    -webkit-app-region: no-drag
}

.header-font-hide {
    font-size: 0px !important;
}

